*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding:0;
}

.app{
    height: 100vh;
    display: flex;
    background-color: blue;
}

.randomUser{
    flex: 1;
    color:wheat;
    background-color: #444;
}